<div class="page-sub-title"></div>
<div class="row">

    <div class="col-md-12">
        <div class="card" style="width: 28rem;">

            <img src="https://api.lorem.space/image?w=550&h=350" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">{{ posts[0].title }}</h5>
                <p class="card-text">{{ posts[0].content }}</p>
                <small>{{posts[0].created_at}}</small>
            </div>
        </div>
    </div>



</div>